<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('bootstrap/cache')
    ->exclude('resources/views')
    ->exclude('storage')
    ->exclude('vendor')
    ->notPath('./_ide_helper.php')
    ->in(__DIR__);


return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        'concat_space' => [ 'spacing' => 'one' ],
    ])
    ->setFinder($finder);
