.dashboard {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;

  @include mq-tab {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .left {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1;
    grid-auto-rows: max-content;
    gap: 10px;

    @include mq-tab {
      grid-row: 1;
    }

    .profile {
      display: grid;
      grid-template-rows: max-content;
      grid-template-columns: 100%;

      img.avatar {
        grid-row: 1;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }

      .username {
        font-size: 1.5rem;
        font-weight: bold;
      }

      .screen-name {
        color: var(--color-body-foreground-dim);
      }
    }

    // TODO: 分離できそう
    ul.menu {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        & > a {
          display: block;
          padding: 8px;
          color: var(--color-floating-foreground);
          text-decoration: none;
          background-color: var(--color-floating-background);
          border: 1px solid var(--color-floating-border);
          transition: 0.15s color, 0.15s background-color;

          &.active {
            font-weight: bold;
            background-color: var(--color-floating-background-dim);
          }

          &:hover {
            color: var(--color-floating-hover-foreground);
            background-color: var(--color-floating-hover-background);
          }
        }

        &:nth-child(1n+2) > a {
          border-top-width: 0;
        }

        &:first-child > a {
          border-radius: 8px 8px 0 0;
        }

        &:last-child > a {
          border-radius: 0 0 8px 8px;
        }
      }
    }
  }

  .right {
    grid-column: 2;

    @include mq-tab {
      grid-row: 2;
      grid-column: 1;
    }
  }
}
