ul.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 10px;
  list-style-type: none;

  li {
    box-sizing: border-box;
    min-width: 40px;
    padding: 8px;
    text-align: center;
    border: 1px solid $body-color-br;

    &:first-child {
      border-radius: 10px 0 0 10px;
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}
