ul.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 10px;
  list-style-type: none;

  li {
    display: block;
    box-sizing: border-box;
    min-width: 40px;
    text-align: center;
    border: 1px solid var(--color-body-border);

    &:first-child, &:first-child a, &:first-child span {
      border-radius: 10px 0 0 10px;
    }

    &:last-child, &:last-child a, &:last-child span {
      border-radius: 0 10px 10px 0;
    }

    &.disabled a, &.disabled span {
      background-color: var(--color-input-background-disabled) !important;
    }

    a, span {
      display: block;
      padding: 8px;
      text-decoration: none;
      background-color: var(--color-floating-background);
      transition: 0.15s all;

      &:hover {
        color: var(--color-floating-hover-foreground);
        background-color: var(--color-floating-hover-background);
      }
    }
  }
}
