$input-color-border: rgb(182, 182, 182);
$input-color-disabled-bg: rgb(185, 185, 185);
$input-color-border-fc: rgb(155, 195, 255);
$input-color-shadow-fc: rgba(107, 166, 255, 0.7);
$check-color-fg: rgba(245, 249, 255, 0);
$check-color-fg-ac: rgb(245, 249, 255);
$check-color-bg-ac: rgb(46, 130, 255);
$check-color-bg-hv: rgb(87, 154, 255);
$button-color-bg-ds: rgb(189, 200, 216);
$button-color-bg-wr: rgb(230, 115, 115);

form {
  .pair {
    margin: 10px auto;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  label {
    display: block;
    margin: 0;
    font-size: 1rem;
    user-select: none;

    &.inline {
      display: inline;
    }
  }

  input, textarea {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 1rem;
    border: 1px solid $input-color-border;
    border-radius: 6px;
    outline: 0;
    transition: 0.15s border, 0.15s filter;

    &:focus {
      filter: drop-shadow(0 0 4px $input-color-shadow-fc);
      border: 1px solid $input-color-border-fc;
    }

    &[type=submit] {
      width: initial;
      padding: 6px 10px;
      color: $check-color-fg-ac;
      background-color: $check-color-bg-ac;
      border: 0;

      &:hover {
        background-color: $check-color-bg-hv;
      }
    }

    &:disabled {
      background-color: $input-color-disabled-bg;
    }
  }

  select {
    display: block;
    width: 100%;
    padding: 6px;
    font-size: 1rem;
    border: 1px solid $input-color-border;
    border-radius: 6px;
    outline: 0;
    appearance: none;
    transition: 0.15s border, 0.15s filter;
  }

  .checkbox {
    position: relative;

    input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }

    label {
      &::before {
        box-sizing: content-box;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        margin-right: 8px;
        font-weight: bold;
        line-height: 1rem;
        color: $check-color-fg;
        content: '✓';
        background-color: $check-color-fg-ac;
        border: 1px solid $input-color-border;
        border-radius: 4px;
        transition: 0.15s all;
      }

      &.checked::before {
        color: $check-color-fg-ac;
        background-color: $check-color-bg-ac;
      }

      &.focused::before {
        filter: drop-shadow(0 0 4px $input-color-shadow-fc);
      }
    }
  }
}

// 汎用パーツ
.button {
  // display: block;
  padding: 6px 10px;
  font-size: 1rem;
  color: $check-color-fg-ac;
  background-color: $check-color-bg-ac;
  border: 1px solid $input-color-border;
  border-radius: 6px;
  outline: 0;
  transition: 0.15s border, 0.15s filter;

  &:focus {
    filter: drop-shadow(0 0 4px $input-color-shadow-fc);
    border: 1px solid $input-color-border-fc;
    outline: 0;
  }

  &:hover {
    color: $check-color-fg-ac;
    text-decoration: none;
    background-color: $check-color-bg-hv;
  }

  &:disabled {
    color: $check-color-fg-ac;
    background-color: $button-color-bg-ds;
    filter: none;
    outline: 0;
  }

  &.warning {
    background-color: $button-color-bg-wr;
  }
}

.tag {
  display: inline;
  padding: 2px 6px;
  font-size: 0.9rem;
  color: #fff;
  background-color: #26f;
  border-radius: 4px;

  a {
    color: inherit;
    text-decoration: none;
  }
}
