// /series/latest などで表示するアイテム
section.series-summary {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--color-body-border);
  border-radius: 10px;

  h2 {
    & > a {
      text-decoration: none;
    }

    & > small {
      color: var(--color-body-foreground-dim);
    }
  }

  p.summary {
    margin: 0;
  }
}

.series-editor {
  width: 100%;
  user-select: none;

  .item {
    display: grid;
    grid-template-columns: min-content max-content 1fr max-content;
    grid-template-rows: max-content;
    align-items: center;
    gap: 10px;
    padding: 10px;

    background-color: var(--color-floaring-background);
    border: 1px solid var(--color-floating-border);

    .handle {
      grid-column: 1;
      cursor: move;
    }
    .order { grid-column: 2; }
    .title { grid-column: 3; }
    .date { grid-column: 4; }

    &.inactive {
      background-color: #ddd;
    }
  }
}
