// /series/latest などで表示するアイテム
section.series-summary {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $body-color-br;
  border-radius: 10px;

  h2 {
    & > a {
      text-decoration: none;
    }

    & > small {
      color: $body-color-fg-dim;
    }
  }

  p.summary {
    margin: 0;
  }
}

table.series-editor {
  display: block;
  width: 100%;
  user-select: none;

  thead {
    tr {
      background-color: #ddd;
    }
  }

  tbody {
    tr {
      height: 2rem;
      border: solid #aaa;
      border-width: 1px 0;

      &:first-child {
        border-top: 0;
      }

      td.handle {
        width: 60px;
        text-align: center;
        cursor: pointer;
      }

      td.title {
        width: 2000px;
      }

      td.date {
        width: 320px;
      }
    }

    tr:hover {
      background-color: #eff;
    }
  }
}
