$body-color-bg: rgb(236, 246, 255);
$body-color-br: rgb(186, 209, 229);
$body-color-fg: rgb(12, 25, 39);
$body-color-fg-dim: rgb(59, 78, 97);

$floating-color-bg: #fff;
$floating-color-bg-dim: rgb(170, 201, 255);
$floating-color-br: rgb(213, 228, 255);
$floating-color-fg: rgb(60, 66, 122);
$floating-hover-color-bg: rgb(49, 111, 151);
$floating-hover-color-fg: rgb(228, 244, 255);

$status-error-br: rgb(255, 78, 65);
$status-error-bg: rgba(255, 146, 138, 0.603);
